.left-menu{
    -fx-background-color: linear-gradient(to bottom right, rgba(44,90,85,0.7), rgb(44,61,124));
}
.user-img{
    -fx-border-radius: 50%;
}
 .nav-btn{
     -fx-background-color: transparent;
     -fx-cursor:hand;
     -fx-text-fill:#fff;
     -fx-font-size:14px;
     -fx-alignment: CENTER_LEFT;
     -fx-graphic-text-gap: 10px;
     -fx-padding: 0px 10px;

 }
.nav-btn:hover {
    -fx-background-color: rgb(3,49,98);
}
.nav-item {
    -fx-background-color: #6571B0;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}
.nav-item:hover{
    -fx-background-color: rgba(101,113,176,0.6);
}
.arrow-btn{
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.arrow-btn:hover{
    -fx-background-color: rgba(255,255,255,0.6);
}

.signout {
    -fx-background-color: #ae2d3c;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}
.signout:hover{
    -fx-background-color: #a43d2d;
}
.white-color{
    -fx-background-color: white;
}
.border{
-fx-border-color: #cccc;
-fx-border-width: 2px;
-fx-border-radius: 5px;
-fx-background-color: transparent;
}
.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.9), 6, 0, 0, 0)
}
.textField{
    -fx-border-color: #cccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}
.textField:focused{
    -fx-border-color: linear-gradient(to bottom right, #16a47c, #2a827b);
    -fx-border-width: .8px;
}
.btn{
    -fx-background-color:  #2C3D94;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-border-radius:9px;

}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #2C3D94, #2C3d64);
}
.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color:linear-gradient(to bottom right, #2C3D94, #633364);
    -fx-border-width: 2px;
    -fx-border-radius:9px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background {
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 8px 8px Opx Opx;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-side: 40px;
    -fx-border-width: 2px;
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-family: "Helvetica Neue",Helvetica,Arial;
}
.buttonSearch {
    -fx-background-color: transparent;
    -fx-border-color: #d1ccd1;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8px 16px;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.buttonSearch:hover{
    -fx-background-color: rgba(244,244,224,0.5);
}
.primaryColor{
    -fx-text-fill: rgb(44,61,148);
    -fx-font-family: "Helvetica Neue",Helvetica,Arial;
}